---
http_interactions:
- request:
    method: get
    uri: https://www.wikidata.org/w/api.php?action=wbgetentities&format=json&ids=Q1076562%7CQ199319
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Analytics:
      - https=1;nocookies=1
    body:
      encoding: ASCII-8BIT
      string: '{"entities":{"Q1076562":{"pageid":1024904,"ns":0,"title":"Q1076562","lastrevid":269441616,"modified":"2015-11-07T01:29:32Z","type":"item","id":"Q1076562","labels":{"de":{"language":"de","value":"Partido
        Nuevo Progresista"},"ko":{"language":"ko","value":"\ud478\uc5d0\ub974\ud1a0\ub9ac\ucf54
        \uc9c4\ubcf4\uc2e0\ub2f9"},"es":{"language":"es","value":"Partido Nuevo Progresista"},"en":{"language":"en","value":"New
        Progressive Party of Puerto Rico"},"ar":{"language":"ar","value":"\u0627\u0644\u062d\u0632\u0628
        \u0627\u0644\u062c\u062f\u064a\u062f \u0627\u0644\u062a\u0642\u062f\u0645\u064a"},"it":{"language":"it","value":"Nuovo
        Partito Progressista"},"pt":{"language":"pt","value":"Partido Novo Progressista
        de Porto Rico"},"zh":{"language":"zh","value":"\u65b0\u8fdb\u6b65\u515a"},"ru":{"language":"ru","value":"\u041d\u043e\u0432\u0430\u044f
        \u043f\u0440\u043e\u0433\u0440\u0435\u0441\u0441\u0438\u0432\u043d\u0430\u044f
        \u043f\u0430\u0440\u0442\u0438\u044f \u041f\u0443\u044d\u0440\u0442\u043e-\u0420\u0438\u043a\u043e"},"nl":{"language":"nl","value":"Nieuw
        Progressieve Partij van Puerto Rico"},"ca":{"language":"ca","value":"Partit
        Nou Progressista"}},"descriptions":{"de":{"language":"de","value":"Partei
        der Vereinigten Staaten"},"ca":{"language":"ca","value":"partit pol\u00edtic
        porto-riqueny"},"en":{"language":"en","value":"political party"}},"aliases":{"de":[{"language":"de","value":"Partido
        Nuevo Progresista de Puerto Rico"}],"ko":[{"language":"ko","value":"\ud478\uc5d0\ub974\ud1a0\ub9ac\ucf54
        \uc2e0\uc9c4\ubcf4\ub2f9"}],"it":[{"language":"it","value":"Nuovo Partito
        Progressista di Porto Rico"}],"en":[{"language":"en","value":"PNP"}],"ca":[{"language":"ca","value":"PNP"}]},"claims":{"P910":[{"mainsnak":{"snaktype":"value","property":"P910","datavalue":{"value":{"entity-type":"item","numeric-id":8674434},"type":"wikibase-entityid"},"datatype":"wikibase-item"},"type":"statement","id":"Q1076562$A9E02268-303B-4CF1-926D-4AC0700D305C","rank":"normal"}],"P31":[{"mainsnak":{"snaktype":"value","property":"P31","datavalue":{"value":{"entity-type":"item","numeric-id":7278},"type":"wikibase-entityid"},"datatype":"wikibase-item"},"type":"statement","id":"Q1076562$78f2a24f-4be5-36b3-0171-950027a41f49","rank":"normal"}],"P646":[{"mainsnak":{"snaktype":"value","property":"P646","datavalue":{"value":"/m/0263t4","type":"string"},"datatype":"string"},"type":"statement","id":"Q1076562$ED890804-FAC1-4FEE-8B83-2401B3BECB47","rank":"normal","references":[{"hash":"af38848ab5d9d9325cffd93a5ec656cc6ca889ed","snaks":{"P248":[{"snaktype":"value","property":"P248","datavalue":{"value":{"entity-type":"item","numeric-id":15241312},"type":"wikibase-entityid"},"datatype":"wikibase-item"}],"P577":[{"snaktype":"value","property":"P577","datavalue":{"value":{"time":"+2013-10-28T00:00:00Z","timezone":0,"before":0,"after":0,"precision":11,"calendarmodel":"http://www.wikidata.org/entity/Q1985727"},"type":"time"},"datatype":"time"}]},"snaks-order":["P248","P577"]}]}],"P154":[{"mainsnak":{"snaktype":"value","property":"P154","datavalue":{"value":"PNP.logo.png","type":"string"},"datatype":"commonsMedia"},"type":"statement","id":"Q1076562$F12347A8-C1DF-4A1D-8470-6339354B438B","rank":"normal","references":[{"hash":"7eb64cf9621d34c54fd4bd040ed4b61a88c4a1a0","snaks":{"P143":[{"snaktype":"value","property":"P143","datavalue":{"value":{"entity-type":"item","numeric-id":328},"type":"wikibase-entityid"},"datatype":"wikibase-item"}]},"snaks-order":["P143"]}]}],"P856":[{"mainsnak":{"snaktype":"value","property":"P856","datavalue":{"value":"http://www.pnppr.com","type":"string"},"datatype":"url"},"type":"statement","id":"Q1076562$51776708-A83C-4874-B364-C5C7C3C20203","rank":"normal","references":[{"hash":"7eb64cf9621d34c54fd4bd040ed4b61a88c4a1a0","snaks":{"P143":[{"snaktype":"value","property":"P143","datavalue":{"value":{"entity-type":"item","numeric-id":328},"type":"wikibase-entityid"},"datatype":"wikibase-item"}]},"snaks-order":["P143"]}]}],"P571":[{"mainsnak":{"snaktype":"value","property":"P571","datavalue":{"value":{"time":"+1967-08-20T00:00:00Z","timezone":0,"before":0,"after":0,"precision":11,"calendarmodel":"http://www.wikidata.org/entity/Q1985727"},"type":"time"},"datatype":"time"},"type":"statement","id":"Q1076562$15CC6A24-AFD4-4D61-9055-065B2490720A","rank":"normal","references":[{"hash":"7eb64cf9621d34c54fd4bd040ed4b61a88c4a1a0","snaks":{"P143":[{"snaktype":"value","property":"P143","datavalue":{"value":{"entity-type":"item","numeric-id":328},"type":"wikibase-entityid"},"datatype":"wikibase-item"}]},"snaks-order":["P143"]}]}],"P159":[{"mainsnak":{"snaktype":"value","property":"P159","datavalue":{"value":{"entity-type":"item","numeric-id":1183},"type":"wikibase-entityid"},"datatype":"wikibase-item"},"type":"statement","id":"Q1076562$B2DA7721-5B0E-4143-B04D-4916C486E8B0","rank":"normal","references":[{"hash":"7eb64cf9621d34c54fd4bd040ed4b61a88c4a1a0","snaks":{"P143":[{"snaktype":"value","property":"P143","datavalue":{"value":{"entity-type":"item","numeric-id":328},"type":"wikibase-entityid"},"datatype":"wikibase-item"}]},"snaks-order":["P143"]}]}],"P1142":[{"mainsnak":{"snaktype":"value","property":"P1142","datavalue":{"value":{"entity-type":"item","numeric-id":77642},"type":"wikibase-entityid"},"datatype":"wikibase-item"},"type":"statement","id":"Q1076562$D68F3380-98B5-42F5-AAF8-0667D6319F6F","rank":"normal","references":[{"hash":"7eb64cf9621d34c54fd4bd040ed4b61a88c4a1a0","snaks":{"P143":[{"snaktype":"value","property":"P143","datavalue":{"value":{"entity-type":"item","numeric-id":328},"type":"wikibase-entityid"},"datatype":"wikibase-item"}]},"snaks-order":["P143"]}]}],"P488":[{"mainsnak":{"snaktype":"value","property":"P488","datavalue":{"value":{"entity-type":"item","numeric-id":2277878},"type":"wikibase-entityid"},"datatype":"wikibase-item"},"type":"statement","id":"Q1076562$FE045E4F-035C-433A-996F-18C3AA9DB3AC","rank":"normal","references":[{"hash":"dbe2189e7b0d3953de6f69cc1cc88109a79605a4","snaks":{"P143":[{"snaktype":"value","property":"P143","datavalue":{"value":{"entity-type":"item","numeric-id":8449},"type":"wikibase-entityid"},"datatype":"wikibase-item"}]},"snaks-order":["P143"]}]}],"P131":[{"mainsnak":{"snaktype":"value","property":"P131","datavalue":{"value":{"entity-type":"item","numeric-id":1183},"type":"wikibase-entityid"},"datatype":"wikibase-item"},"type":"statement","id":"Q1076562$89806caf-47cb-8e71-25e9-6228e213519c","rank":"normal"}],"P214":[{"mainsnak":{"snaktype":"value","property":"P214","datavalue":{"value":"127942045","type":"string"},"datatype":"string"},"type":"statement","id":"Q1076562$6CDAA3C5-52A7-438C-AA8D-35A95B5B0645","rank":"normal","references":[{"hash":"c99dd5e90419fdd693439130bdea8bc82cf70c6d","snaks":{"P248":[{"snaktype":"value","property":"P248","datavalue":{"value":{"entity-type":"item","numeric-id":54919},"type":"wikibase-entityid"},"datatype":"wikibase-item"}],"P813":[{"snaktype":"value","property":"P813","datavalue":{"value":{"time":"+2015-08-08T00:00:00Z","timezone":0,"before":0,"after":0,"precision":11,"calendarmodel":"http://www.wikidata.org/entity/Q1985727"},"type":"time"},"datatype":"time"}]},"snaks-order":["P248","P813"]}]}],"P17":[{"mainsnak":{"snaktype":"value","property":"P17","datavalue":{"value":{"entity-type":"item","numeric-id":30},"type":"wikibase-entityid"},"datatype":"wikibase-item"},"type":"statement","id":"Q1076562$4C095087-2EA3-4693-8A90-97C9E2E64314","rank":"normal","references":[{"hash":"7eb64cf9621d34c54fd4bd040ed4b61a88c4a1a0","snaks":{"P143":[{"snaktype":"value","property":"P143","datavalue":{"value":{"entity-type":"item","numeric-id":328},"type":"wikibase-entityid"},"datatype":"wikibase-item"}]},"snaks-order":["P143"]}]}]},"sitelinks":{"arwiki":{"site":"arwiki","title":"\u0627\u0644\u062d\u0632\u0628
        \u0627\u0644\u062a\u0642\u062f\u0645\u064a \u0627\u0644\u062c\u062f\u064a\u062f
        (\u0628\u0648\u0631\u062a\u0648\u0631\u064a\u0643\u0648)","badges":[]},"cawiki":{"site":"cawiki","title":"Partit
        Nou Progressista (Puerto Rico)","badges":[]},"dewiki":{"site":"dewiki","title":"Partido
        Nuevo Progresista","badges":[]},"enwiki":{"site":"enwiki","title":"New Progressive
        Party of Puerto Rico","badges":[]},"eswiki":{"site":"eswiki","title":"Partido
        Nuevo Progresista","badges":[]},"itwiki":{"site":"itwiki","title":"Nuovo Partito
        Progressista (Porto Rico)","badges":[]},"kowiki":{"site":"kowiki","title":"\ud478\uc5d0\ub974\ud1a0\ub9ac\ucf54
        \uc9c4\ubcf4\uc2e0\ub2f9","badges":[]},"nlwiki":{"site":"nlwiki","title":"Partido
        Nuevo Progresista","badges":[]},"ptwiki":{"site":"ptwiki","title":"Partido
        Novo Progressista de Porto Rico","badges":[]},"zhwiki":{"site":"zhwiki","title":"\u65b0\u8fdb\u6b65\u515a
        (\u6ce2\u591a\u9ece\u5404)","badges":[]}}},"Q199319":{"pageid":196555,"ns":0,"title":"Q199319","lastrevid":269460058,"modified":"2015-11-07T02:00:51Z","type":"item","id":"Q199319","labels":{"es":{"language":"es","value":"Partido
        Popular Democr\u00e1tico"},"it":{"language":"it","value":"Partito Popolare
        Democratico"},"fr":{"language":"fr","value":"Parti populaire d\u00e9mocrate"},"en":{"language":"en","value":"Popular
        Democratic Party"},"bs":{"language":"bs","value":"Narodna demokratska stranka
        (Portoriko)"},"zh":{"language":"zh","value":"\u4eba\u6c11\u6c11\u4e3b\u515a"},"ru":{"language":"ru","value":"\u041d\u0430\u0440\u043e\u0434\u043d\u043e-\u0434\u0435\u043c\u043e\u043a\u0440\u0430\u0442\u0438\u0447\u0435\u0441\u043a\u0430\u044f
        \u043f\u0430\u0440\u0442\u0438\u044f"},"nl":{"language":"nl","value":"Populaire
        Democratische Partij"},"de":{"language":"de","value":"Partido Popular Democr\u00e1tico"},"ca":{"lan[...]
- request:
    method: get
    uri: https://www.wikidata.org/w/api.php?action=wbgetentities&format=json&ids=Q8674434%7CQ7278%7CQ15241312%7CQ328%7CQ1183%7CQ77642%7CQ2277878%7CQ8449%7CQ54919%7CQ30%7CQ609591
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Analytics:
      - https=1;nocookies=1
    body:
      encoding: ASCII-8BIT
      string: '{"entities":{"Q8674434":{"pageid":8667313,"ns":0,"title":"Q8674434","lastrevid":255848545,"modified":"2015-10-09T20:23:17Z","type":"item","id":"Q8674434","labels":{"en":{"language":"en","value":"Category:New
        Progressive Party of Puerto Rico"}},"descriptions":{"fr":{"language":"fr","value":"page
        de cat\u00e9gorie d''un projet Wikimedia"},"es":{"language":"es","value":"categor\u00eda
        de Wikimedia"},"it":{"language":"it","value":"categoria di un progetto Wikimedia"},"pt":{"language":"pt","value":"categoria
        de um projeto da Wikimedia"},"pt-br":{"language":"pt-br","value":"categoria
        de um projeto da Wikimedia"},"de":{"language":"de","value":"Wikimedia-Kategorie"},"fa":{"language":"fa","value":"\u0631\u062f\u0647\u0654
        \u0648\u06cc\u06a9\u06cc\u200c\u0645\u062f\u06cc\u0627"},"ru":{"language":"ru","value":"\u043a\u0430\u0442\u0435\u0433\u043e\u0440\u0438\u044f
        \u0432 \u043f\u0440\u043e\u0435\u043a\u0442\u0435 \u0412\u0438\u043a\u0438\u043c\u0435\u0434\u0438a"},"nl":{"language":"nl","value":"Wikimedia-categorie"},"nn":{"language":"nn","value":"Wikimedia-kategori"},"nb":{"language":"nb","value":"Wikimedia-kategori"},"sv":{"language":"sv","value":"Wikimedia-kategori"},"da":{"language":"da","value":"Wikimedia-kategori"},"cs":{"language":"cs","value":"kategorie
        Wikimedie"},"et":{"language":"et","value":"Wikimedia kategooria"},"fi":{"language":"fi","value":"Wikimedia-luokka"},"bn":{"language":"bn","value":"\u0989\u0987\u0995\u09bf\u09ae\u09bf\u09a1\u09bf\u09af\u09bc\u09be
        \u09ac\u09bf\u09b7\u09af\u09bc\u09b6\u09cd\u09b0\u09c7\u09a3\u09c0"},"ca":{"language":"ca","value":"categoria
        de Wikimedia"},"ckb":{"language":"ckb","value":"\u067e\u06c6\u0644\u06cc \u0648\u06cc\u06a9\u06cc\u0645\u06cc\u062f\u06cc\u0627"},"el":{"language":"el","value":"\u03ba\u03b1\u03c4\u03b7\u03b3\u03bf\u03c1\u03af\u03b1
        \u03b5\u03b3\u03c7\u03b5\u03b9\u03c1\u03b7\u03bc\u03ac\u03c4\u03c9\u03bd Wikimedia"},"en":{"language":"en","value":"Wikimedia
        category"},"eo":{"language":"eo","value":"kategorio en Vikimedio"},"gl":{"language":"gl","value":"categor\u00eda
        de Wikimedia"},"gu":{"language":"gu","value":"\u0ab5\u0abf\u0a95\u0abf\u0aaa\u0ac0\u0aa1\u0abf\u0aaf\u0abe
        \u0ab6\u0acd\u0ab0\u0ac7\u0aa3\u0ac0"},"he":{"language":"he","value":"\u05e7\u05d8\u05d2\u05d5\u05e8\u05d9\u05d4
        \u05d1\u05d5\u05d5\u05d9\u05e7\u05d9\u05e4\u05d3\u05d9\u05d4"},"ilo":{"language":"ilo","value":"kategoria
        ti Wikimedia"},"ja":{"language":"ja","value":"\u30a6\u30a3\u30ad\u30e1\u30c7\u30a3\u30a2\u306e\u30ab\u30c6\u30b4\u30ea"},"ko":{"language":"ko","value":"\uc704\ud0a4\ubbf8\ub514\uc5b4
        \ubd84\ub958"},"mk":{"language":"mk","value":"\u043a\u0430\u0442\u0435\u0433\u043e\u0440\u0438\u0458\u0430
        \u043d\u0430 \u0412\u0438\u043a\u0438\u043f\u0435\u0434\u0438\u0458\u0430"},"nds":{"language":"nds","value":"Wikimedia-Kategorie"},"pl":{"language":"pl","value":"kategoria
        w projekcie Wikimedia"},"vi":{"language":"vi","value":"th\u1ec3 lo\u1ea1i
        Wikimedia"},"zh":{"language":"zh","value":"\u7ef4\u57fa\u5a92\u4f53\u9879\u76ee\u5206\u7c7b"},"zh-hans":{"language":"zh-hans","value":"\u7ef4\u57fa\u5a92\u4f53\u9879\u76ee\u5206\u7c7b"},"zh-hant":{"language":"zh-hant","value":"\u7dad\u57fa\u5a92\u9ad4\u5c08\u6848\u5206\u985e"},"bg":{"language":"bg","value":"\u041a\u0430\u0442\u0435\u0433\u043e\u0440\u0438\u044f
        \u043d\u0430 \u0423\u0438\u043a\u0438\u043c\u0435\u0434\u0438\u044f"}},"aliases":{},"claims":{"P31":[{"mainsnak":{"snaktype":"value","property":"P31","datavalue":{"value":{"entity-type":"item","numeric-id":4167836},"type":"wikibase-entityid"},"datatype":"wikibase-item"},"type":"statement","id":"q8674434$C444B6DD-48D4-449D-8FDB-31C0F006B246","rank":"normal"}],"P301":[{"mainsnak":{"snaktype":"value","property":"P301","datavalue":{"value":{"entity-type":"item","numeric-id":1076562},"type":"wikibase-entityid"},"datatype":"wikibase-item"},"type":"statement","id":"Q8674434$3ED29248-E196-424B-82F1-2A3952146812","rank":"normal"}]},"sitelinks":{"enwiki":{"site":"enwiki","title":"Category:New
        Progressive Party of Puerto Rico","badges":[]}}},"Q7278":{"pageid":8483,"ns":0,"title":"Q7278","lastrevid":267171081,"modified":"2015-11-02T05:48:31Z","type":"item","id":"Q7278","labels":{"en":{"language":"en","value":"political
        party"},"it":{"language":"it","value":"partito politico"},"en-ca":{"language":"en-ca","value":"political
        party"},"en-gb":{"language":"en-gb","value":"political party"},"af":{"language":"af","value":"politieke
        party"},"an":{"language":"an","value":"partito politico"},"ar":{"language":"ar","value":"\u062d\u0632\u0628
        \u0633\u064a\u0627\u0633\u064a"},"arc":{"language":"arc","value":"\u0713\u0712\u0710"},"arz":{"language":"arz","value":"\u062d\u0632\u0628
        \u0633\u064a\u0627\u0633\u0649"},"ast":{"language":"ast","value":"part\u00edu
        pol\u00edticu"},"bar":{"language":"bar","value":"politische Partei"},"be":{"language":"be","value":"\u043f\u0430\u043b\u0456\u0442\u044b\u0447\u043d\u0430\u044f
        \u043f\u0430\u0440\u0442\u044b\u044f"},"bg":{"language":"bg","value":"\u041f\u043e\u043b\u0438\u0442\u0438\u0447\u0435\u0441\u043a\u0430
        \u043f\u0430\u0440\u0442\u0438\u044f"},"br":{"language":"br","value":"Strollad
        politikel"},"bs":{"language":"bs","value":"politi\u010dka stranka"},"ca":{"language":"ca","value":"partit
        pol\u00edtic"},"cs":{"language":"cs","value":"politick\u00e1 strana"},"cy":{"language":"cy","value":"Plaid
        wleidyddol"},"da":{"language":"da","value":"politisk parti"},"de":{"language":"de","value":"politische
        Partei"},"diq":{"language":"diq","value":"Partiy"},"el":{"language":"el","value":"\u03c0\u03bf\u03bb\u03b9\u03c4\u03b9\u03ba\u03cc
        \u03ba\u03cc\u03bc\u03bc\u03b1"},"eo":{"language":"eo","value":"partio"},"es":{"language":"es","value":"partido
        pol\u00edtico"},"et":{"language":"et","value":"Erakond"},"eu":{"language":"eu","value":"Alderdi
        politiko"},"fa":{"language":"fa","value":"\u062d\u0632\u0628"},"fi":{"language":"fi","value":"puolue"},"fr":{"language":"fr","value":"parti
        politique"},"fy":{"language":"fy","value":"politike partij"},"ga":{"language":"ga","value":"P\u00e1irt\u00ed
        polait\u00edochta"},"gd":{"language":"gd","value":"P\u00e0rtaidh phoileatagach"},"gl":{"language":"gl","value":"Partido
        pol\u00edtico"},"he":{"language":"he","value":"\u05de\u05e4\u05dc\u05d2\u05d4"},"hi":{"language":"hi","value":"\u0930\u093e\u091c\u0928\u0940\u0924\u093f\u0915
        \u0926\u0932"},"hif":{"language":"hif","value":"Rajnetic dal"},"hr":{"language":"hr","value":"Politi\u010dka
        stranka"},"hu":{"language":"hu","value":"p\u00e1rt"},"hy":{"language":"hy","value":"\u056f\u0578\u0582\u057d\u0561\u056f\u0581\u0578\u0582\u0569\u0575\u0578\u0582\u0576"},"id":{"language":"id","value":"Partai
        politik"},"is":{"language":"is","value":"Stj\u00f3rnm\u00e1laflokkur"},"ja":{"language":"ja","value":"\u653f\u515a"},"jv":{"language":"jv","value":"Partai
        pulitik"},"ka":{"language":"ka","value":"\u10de\u10dd\u10da\u10d8\u10e2\u10d8\u10d9\u10e3\u10e0\u10d8
        \u10de\u10d0\u10e0\u10e2\u10d8\u10d0"},"kk":{"language":"kk","value":"\u0421\u0430\u044f\u0441\u0438
        \u043f\u0430\u0440\u0442\u0438\u044f"},"kn":{"language":"kn","value":"\u0cb0\u0cbe\u0c9c\u0c95\u0cc0\u0caf
        \u0caa\u0c95\u0ccd\u0cb7"},"ko":{"language":"ko","value":"\uc815\ub2f9"},"krc":{"language":"krc","value":"\u041f\u043e\u043b\u0438\u0442\u0438\u043a\u0430
        \u043f\u0430\u0440\u0442\u0438\u044f"},"la":{"language":"la","value":"Factio
        politica"},"lb":{"language":"lb","value":"Politesch Partei"},"ln":{"language":"ln","value":"Ling\u00f3mb\u00e1
        lya polit\u00edki"},"lt":{"language":"lt","value":"Politin\u0117 partija"},"lv":{"language":"lv","value":"politisk\u0101
        partija"},"mk":{"language":"mk","value":"\u043f\u043e\u043b\u0438\u0442\u0438\u0447\u043a\u0430
        \u043f\u0430\u0440\u0442\u0438\u0458\u0430"},"ml":{"language":"ml","value":"\u0d30\u0d3e\u0d37\u0d4d\u0d1f\u0d4d\u0d30\u0d40\u0d2f
        \u0d2a\u0d3e\u0d7c\u0d1f\u0d4d\u0d1f\u0d3f"},"mn":{"language":"mn","value":"\u0423\u043b\u0441
        \u0442\u04e9\u0440\u0438\u0439\u043d \u043d\u0430\u043c"},"mr":{"language":"mr","value":"\u0930\u093e\u091c\u0915\u0940\u092f
        \u092a\u0915\u094d\u0937"},"ms":{"language":"ms","value":"Parti politik"},"my":{"language":"my","value":"\u1014\u102d\u102f\u1004\u103a\u1004\u1036\u101b\u1031\u1038\u1015\u102b\u1010\u102e"},"new":{"language":"new","value":"\u0926\u0932"},"nl":{"language":"nl","value":"politieke
        partij"},"nn":{"language":"nn","value":"politisk parti"},"oc":{"language":"oc","value":"partit
        politic"},"pfl":{"language":"pfl","value":"Bolidischi Pardai"},"pl":{"language":"pl","value":"partia
        polityczna"},"pnb":{"language":"pnb","value":"\u0633\u06cc\u0627\u0633\u06cc
        \u067e\u0627\u0631\u0679\u06cc"},"ps":{"language":"ps","value":"\u06ab\u0648\u0646\u062f"},"pt":{"language":"pt","value":"partido
        pol\u00edtico"},"pt-br":{"language":"pt-br","value":"Partido pol\u00edtico"},"qu":{"language":"qu","value":"Partidu"},"ro":{"language":"ro","value":"partid
        politic"},"ru":{"language":"ru","value":"\u043f\u043e\u043b\u0438\u0442\u0438\u0447\u0435\u0441\u043a\u0430\u044f
        \u043f\u0430\u0440\u0442\u0438\u044f"},"rue":{"language":"rue","value":"\u041f\u043e\u043b\u0456\u0442\u0456\u0447\u043d\u0430
        \u043f\u0430\u0440\u0442\u0456\u044f"},"sah":{"language":"sah","value":"\u041f\u043e\u043b\u0438\u0442\u0438\u043a\u0430
        \u043f\u0430\u0440\u0442\u0438\u044f\u0442\u0430"},"scn":{"language":"scn","value":"partitu
        pul\u00ecticu"},"sh":{"language":"sh","value":"Politi\u010dka stranka"},"sk":{"language":"sk","value":"Politick\u00e1
        strana"},"sl":{"language":"sl","value":"Politi\u010dna stranka"},"so":{"language":"so","value":"Xisbi"},"sr":{"language":"sr","value":"\u043f\u043e\u043b\u0438\u0442\u0438\u0447\u043a\u0430
        \u0441\u0442\u0440\u0430\u043d\u043a\u0430"},"sv":{"language":"sv","value":"Politiskt
        parti"},"sw":{"language":"sw","value":"Chama cha kisiasa"},"ta":{"language":"ta","value":"\u0b85\u0bb0\u0b9a\u0bbf\u0baf\u0bb2\u0bcd
        \u0b95\u0b9f\u0bcd\u0b9a\u0bbf"},"te":{"language":"te","value":"\u0c30\u0c3e\u0c1c\u0c15\u0c40\u0c2f
        \u0c2a\u0c3e\u0c30\u0c4d\u0c1f\u0c40"},"th":{"language":"th","value":"\u0e1e\u0e23\u0e23\u0e04\u0e01\u0e32\u0e23\u0e40\u0e21\u0e37\u0e2d\u0e07"},"tl":{"language":"tl","value":"Partidong
        politikal"},"tr":{"language":"tr","value":"Siyasi parti"},"tt":{"language":"tt","value":"\u0421\u04d9\u044f\u0441\u0438
        \u0444\u0438\u0440\u043a\u0430\u043b\u04d9\u0440"},"uk":{"language":"uk","value":"\u041f\u043e\u043b\u0456\u0442\u0438\u0447\u043d\u0430
        \u043f\u0430\u0440\u0442\u0456\u044f"},"ur":{"language":"ur","value":"\u0633\u06cc\u0627\u0633\u06cc
        \u062c\u0645\u0627\u0639\u062a"},"vec":{"language":"vec","value":"Partito
        pu\u0142itego"},"vi":{"language":"vi","value":"\u0110\u1ea3ng ph\u00e1i ch\u00ednh
        tr\u1ecb"},"war":{"language":"war","value":"Partido politikal"},"yi":{"language":"yi","value":"\u05e4\u05d0\u05dc\u05d9\u05d8\u05d9\u05e9\u05e2
        \u05e4\u05d0\u05e8\u05d8\u05d9\u05d9"},"yo":{"language":"yo","value":"\u1eb8gb\u1eb9\u0301
        ol\u00f3\u1e63\u00e8l\u00fa"},"zh":{"language":"zh","value":"\u653f\u515a"},"zh-cn":{"language":"zh-cn","value":"\u653f\u515a"},"zh-tw":{"language":"zh-tw","value":"\u653f\u9ee8"},"zh-sg":{"language":"zh-sg","value":"\u653f\u515a"},"zh-mo":{"language":"zh-mo","value":"\u653f\u9ee8"},"zh-hans":{"language":"zh-hans","value":"\u653f\u515a"},"zh-hant":{"language":"zh-hant","value":"\u653f\u9ee8"},"zh-hk":{"language":"zh-hk","value":"\u653f\u9ee8"},"zh-my":{"language":"zh-my","value":"\u653f\u515a"},"az":{"language":"az","value":"Siyasi
        partiya"},"ilo":{"language":"ilo","value":"Partido politiko"},"nb":{"language":"nb","value":"politisk
        parti"},"nds":{"language":"nds","value":"Politsche Partei"},"simple":{"language":"simple","value":"Political
        party"},"pms":{"language":"pms","value":"Part\u00ec pol\u00ectich"},"si":{"language":"si","value":"\u0daf\u0dda\u0dc1\u0db4\u0dcf\u0dbd\u0db1
        \u0db4\u0d9a\u0dca\u0dc2 \u0d9a\u0dca\u200d\u0dbb\u0db8"},"be-tarask":{"language":"be-tarask","value":"\u043f\u0430\u043b\u0456\u0442\u044b\u0447\u043d\u0430\u044f
        \u043f\u0430\u0440\u0442\u044b\u044f"},"uz":{"language":"uz","value":"Siyosiy
        partiyalar"},"ckb":{"language":"ckb","value":"\u062d\u06cc\u0632\u0628"},"yue":{"language":"yue","value":"\u653f\u9ee8"},"sco":{"language":"sco","value":"poleetical
        pairty"},"or":{"language":"or","value":"\u0b30\u0b3e\u0b1c\u0b28\u0b40\u0b24\u0b3f\u0b15
        \u0b26\u0b33"},"pa":{"language":"pa","value":"\u0a30\u0a3e\u0a1c\u0a28\u0a40\u0a24\u0a15
        \u0a2a\u0a3e\u0a30\u0a1f\u0a40"},"nan":{"language":"nan","value":"Ch\u00e8ng-t\u00f3ng"},"sgs":{"language":"sgs","value":"Puolit\u0117n\u0117
        part\u0117j\u0117"},"gn":{"language":"gn","value":"Aty ojokuaikua\u00e1va"},"sr-ec":{"language":"sr-ec","value":"\u043f\u043e\u043b\u0438\u0442\u0438\u0447\u043a\u0430
        \u0441\u0442\u0440\u0430\u043d\u043a\u0430"},"sr-el":{"language":"sr-el","value":"politi\u010dka
        stranka"},"ie":{"language":"ie","value":"Political partise"},"mg":{"language":"mg","value":"Antoko
        politika"},"gsw":{"language":"gsw","value":"Partei"},"li":{"language":"li","value":"Politische
        partie"},"ba":{"language":"ba","value":"\u0421\u04d9\u0439\u04d9\u0441\u0438
        \u0444\u0438\u0440\u04a1\u04d9"},"bn":{"language":"bn","value":"\u09b0\u09be\u099c\u09a8\u09c8\u09a4\u09bf\u0995
        \u09a6\u09b2"}},"descriptions":{"en":{"language":"en","value":"organization
        that seeks to influence government policy and actions"},"it":{"language":"it","value":"associazione
        tra persone accomunate da una medesima finalit\u00e0 politica"},"es":{"language":"es","value":"asociaci\u00f3n
     [...]
