<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">
    <link rel="stylesheet" rel="http://code.jquery.com/ui/1.11.4/themes/ui-darkness/jquery-ui.css">
    <style>
span { float: right; }
    </style>
    <script src="http://code.jquery.com/jquery.js"></script>
    <script src="https://code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
    <script>
window.headers = <%= Yajl::Encoder.encode(headers, html_safe: true) %>;
window.matches = <%= Yajl::Encoder.encode(matched, html_safe: true) %>;
    </script>
    <script>
<%= reconciliation_js %>
    </script>

  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <table class="table">
            <tr>
              <th>Existing</th>
              <th>Incoming</th>
              <th></th>
            </tr>
          </table>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3">
          <p>Once you've reconciled the records above generate the CSV file and then paste the result into <code><%= rec_filename %></code></p>
          <a href="#" class="btn btn-primary" id="generate-csv">Generate CSV</a>
        </div>
        <div class="col-md-9">
          <textarea id="csv-output" class="form-control" rows="15"></textarea>
        </div>
      </div>
    </div>
  </body>
</html>
